/* 全体背景色 */
* {
  margin: 0;
  padding: 0;
}

html {
  /* background-color: rgb(125, 213, 213); */
}


body {
  
}

.mainFlex {
  display: flex;
  justify-content: center;
}
/* 左div */
.leftDiv {
}
/* 左のHigh & Low */
.leftFont {
}
/* 右Div */
.rightDiv {
}
/* 右のHigh & Low */
.rightFont {
   
}
/* CPUカード・お題・プレイヤー */
.verticalBox {
  display: block;
}
/* CPUのカードリスト */
.cpuCards {
  display: flex;
  justify-content: space-around;
}
/* CPUのカード */
.cpuCards img {
  width: 13vw;
  object-position: right 0 bottom 8vw;
  position: absolute;
  display: none;/*非表示*/
}
/* CPUカード1~10枚 */
.cpuCards img:nth-of-type(1) {
  
}
.cpuCards img:nth-of-type(2) {
  margin-left: 12vw;
  z-index: 1;
}
.cpuCards img:nth-of-type(3) {
  position: absolute;
  margin-left: 24vw;
  z-index: 2;
}
.cpuCards img:nth-of-type(4) {
  position: absolute;
  margin-left: 36vw;
  z-index: 3;
}
.cpuCards img:nth-of-type(5) {
  position: absolute;
  margin-left: 48vw;
  z-index: 4;
}
.cpuCards img:nth-of-type(6) {
  position: absolute;
  margin-left: 60vw;
  z-index: 5;
}
.cpuCards img:nth-of-type(7) {
  position: absolute;
  margin-left: 72vw;
  z-index: 6;
}
.cpuCards img:nth-of-type(8) {
  position: absolute;
  margin-left: 84vw;
  z-index: 7;
}
.cpuCards img:nth-of-type(9) {
  position: absolute;
  margin-left: 96vw;
  z-index: 8;
}
.cpuCards img:nth-of-type(10) {
  position: absolute;
  margin-left: 108vw;
  z-index: 9;
}
/* お題Flex */
.battleCards {
  display: flex;
  vertical-align: middle;
}



.hidden {
  display: none;
}