* {
  margin: 0;
  padding: 0;
}

html {

}


body {
  /* background-image: url(img/backimage.png); */
  background-size: cover; /* または contain */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: center center;  
}
/* 全体Flex */
.mainFlex {
  display: flex;
  justify-content: center;
}
/* 左画像 */
.leftImg {
  height: 45vw;
  margin-right: auto;
}
/* 右画像 */
.rightImg {
  height: 45vw;
  margin-left: auto;
}
/* CPUのカードリスト */
.cpuCards {
  display: flex;
  position: relative;
  
}
/* CPUのカード画像 */
.cpuCards img {
  position: absolute;
  object-position: right 0 bottom 5vw;
}
/* CPUのカード */
.cpuCards img:nth-of-type(1) {
  width: 8vw;
  margin-left: 6vw;
  z-index: 9;
}
.cpuCards img:nth-of-type(2) {
  width: 8vw;
  margin-left: 10vw;
  z-index: 8;
}
.cpuCards img:nth-of-type(3) {
  width: 8vw;
  margin-left: 14vw;
  z-index: 7;
}
.cpuCards img:nth-of-type(4) {
  width: 8vw;
  margin-left: 18vw;
  z-index: 6;
}
.cpuCards img:nth-of-type(5) {
  width: 8vw;
  margin-left: 22vw;
  z-index: 5;
}
.cpuCards img:nth-of-type(6) {
  width: 8vw;
  margin-left: 26vw;
  z-index: 4;
}
.cpuCards img:nth-of-type(7) {
  width: 8vw;
  margin-left: 30vw;
  z-index: 3;
}
.cpuCards img:nth-of-type(8) {
  width: 8vw;
  margin-left: 34vw;
  z-index: 2;
}
.cpuCards img:nth-of-type(9) {
  width: 8vw;
  margin-left: 38vw;
  z-index: 1;
}
.cpuCards img:nth-of-type(10) {
  width: 8vw;
  margin-left: 42vw;
}
/* お題カードリスト */
.battleCards {
  display: flex;
  margin-top: 10vw;
  text-align: center;
}
/* バトルカードのpタグ */
.battleCards p {
  font-weight: bold;
  font-size: 2vw;
}
/* お題 */
.battleCards h1 {
  height: 100%;
  margin: 8vw 3vw 0 3vw;
  font-size: 7vw;
}
/* 表示カード */
.battleCard {
  
}
/* プレイヤーのカードリスト */
.playCards {
  display: flex;
  position: relative;
}
/* プレイヤーのカード画像 */
.playCards img {
  position: absolute;
  bottom: -10%;
  position: fixed;
}
/* プレイヤーのカード */
.playCards img:nth-of-type(1) {
  width: 8vw;
  margin-left: 6vw;
}
.playCards img:nth-of-type(2) {
  width: 8vw;
  margin-left: 10vw;
  z-index: 1;
}
.playCards img:nth-of-type(3) {
  width: 8vw;
  margin-left: 14vw;
  z-index: 2;
}
.playCards img:nth-of-type(4) {
  width: 8vw;
  margin-left: 18vw;
  z-index: 3;
}
.playCards img:nth-of-type(5) {
  width: 8vw;
  margin-left: 22vw;
  z-index: 4;
}
.playCards img:nth-of-type(6) {
  width: 8vw;
  margin-left: 26vw;
  z-index: 5;
}
.playCards img:nth-of-type(7) {
  width: 8vw;
  margin-left: 30vw;
  z-index: 6;
}
.playCards img:nth-of-type(8) {
  width: 8vw;
  margin-left: 34vw;
  z-index: 7;
}
.playCards img:nth-of-type(9) {
  width: 8vw;
  margin-left: 38vw;
  z-index: 8;
}
.playCards img:nth-of-type(10) {
  width: 8vw;
  margin-left: 42vw;
  z-index: 9;
}
/* プレイヤーのカードアニメーション */
.playCards img:nth-of-type(1):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(2):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(3):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(4):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(5):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(6):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(7):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(8):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(9):hover {
  margin-bottom: 3vw;
}
.playCards img:nth-of-type(10):hover {
  margin-bottom: 3vw;
}

/* 非表示 */
.hidden {
  display: none;
}






/* ポップアップのスタイル */
.pop-up {
  position: fixed; /* 固定位置 */
  top: 50%; /* 縦の中央 */
  left: 50%; /* 横の中央 */
  transform: translate(-50%, -50%); /* 完全に中央に配置 */
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 270px;
  z-index: 9999; /* 最前面に表示するための値 */
  padding: 20px;
  display: none;
}
.p {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.botton {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonL {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.p-OK{
  color: aliceblue;
  font-size: 30px;
  
}
.img{
  margin-top: 10px;
  width: 200px;
  height: auto;
 
}

.reset {
  display: flex;
}


.pop{
  position: fixed; /* 固定位置 */
  top: 50%; /* 縦の中央 */
  left: 50%; /* 横の中央 */
  transform: translate(-50%, -50%); /* 完全に中央に配置 */
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 270px;
  z-index: 9999; /* 最前面に表示するための値 */
  padding: 20px;
  display: none;
}
